.App {
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 0; /* Asegúrate de que no haya padding */
  box-sizing: border-box;
  width: 100vw; /* Asegúrate de que ocupe todo el ancho */
  height: 100vh; /* Asegúrate de que ocupe toda la altura */
}
